* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background-image: url(https://media2.giphy.com/media/FlodpfQUBSp20/giphy.gif?cid=ecf05e47gppuimu8fgivn799dmnrnjvgep8cgrwooc3xa4zk&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

.flex-itm {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4vmin;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #4b0ee5,
        0 0 82px #4b0ee5,
        0 0 92px #4b0ee5,
        0 0 102px #4b0ee5,
        0 0 151px #4b0ee5;
}

p {
    font-size: ;
}
main > button {
    color: blue;
    margin: auto;
    font-size: 3vmin;
}

#play {
    align-self: center;
    /* flex-shrink: 0;  */
    color: purple;
    margin-left: auto;
    margin-right: auto;
}